*{
    margin:0;
    padding:0;
    background:rgb(255, 223, 163);
}
.containerPage2{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blocIMG{
    width: 40%;
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.blocBTN{
    width: 100%;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#oui{
    cursor:pointer;
    width: 60px;
    height: 30px;
    margin:15px;
    border:2px solid darkgreen;
    background:green;
    font-weight: bolder;
    color:white;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#non{
    cursor:pointer;
    width: 60px;
    height: 30px;
    margin:15px;
    border:2px solid darkred;
    background:red;
    font-weight: bolder;
    color:white;
    border-radius:5px;
}
#oui:hover{
    transform:scale(1.25);
}
#non:hover{
    border:2px solid grey;
    background:darkgrey;
}